body {
  background-color: #222626ff;
  font-family: "Arial Black", Helvetica, sans-serif;
  color: gold;
}
ul{
	list-style-type: none;
}
#sajid {
	float: left;
	padding: 5px;
	background-color: gold;
}
a {
	text-decoration: none;
}
table, th, td {
 			border: 1px solid blue;
  			border-collapse: collapse;
			
}			
th,td{
	text-align: left;		
	padding: 5px;
}
table{
			border-spacing: 2px;
			width: 100%;
}
#sajid:hover , #sajid:active {
	background-color: #00ff66c9;
	padding: 5.2px;
	color: #ffd52aff;
}
form {
	float: right;
	margin-right: 190px;
	margin-top: 70px;
}
#backgroundpicture {
	background-image: url(frenchfood.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
span {
	color : rgb(0, 148, 247) ;

}
span:hover , span:active {
    
	color: gold;
}